

<h1 class="about_head"> Welcome to the jungle! </h1> 
<article class="about_main">
  <p> Founded in 1995, Jungle is a employee-owned business focussed on getting exotic plants to the masses! In the interest of doing so, 
    we have bribed various authorities in South America for <strong>EXCLUSIVE</strong> access to harvest various rare and endangered plants from deep within the Amazon rainforest. After all, 
    what good is an exotic plant if it can't be commodified and ultimately find itself waning towards an untimely demise in your living room? <em>We agree.</em></p>

  <p> Not only do we sell awesome plants though, we also strongly believe in giving back. That is why we have partnered with Wheels for Kids&reg; to provide wheels, for kids. We also donate 10% of our profits
    (as far as you know) towards World Relief. </p>
  <div class="image">
  <img src="/images/about.jpeg" alt="hard at work">
  </div>
</article>



