// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin auth_styling {
  .auth_header {
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .auth_form {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: 0 auto;

    input {
      margin: 0.5em 0;
    }

    input[type="submit"] {
      background-color: green;
      color: white;
      transition: ease-in-out;
    }

    input[type="submit"]:hover {
      background-color: rgba(0, 128, 0, 0.488);
    }
  }
}

@include auth_styling